POSTGRES_DB=docappoint_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=pg_host
POSTGRES_PORT=5432
PROVIDER_PASSWORD=password
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=password
DJANGO_SECRET_KEY=test-secret-key-for-ci
EMAIL_VERIFY_SECRET=test-email-secret-for-ci'
REDIS_URL=redis://localhost:6379/0