@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: Outfit;
}

@theme {
  --color-primary: #6D28D9;
}

@layer utilities {
  .grid-cols-fluid {
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr))
  }
}

.active hr {
  @apply block;
}

@media (max-width:740px) {
  .active p {
    @apply text-white bg-primary
  }
}